
 <div class="info">
    <form id="feedbackForm" action="" class="form-inline " >
    <label for="userName" class="mr-sm-2">Enter name </label>
    <input id="userName" class="form-control mb-2 mr-sm-2" 
           type="text" required [(ngModel)]="feebackToSave.user.name" size="20" [ngModelOptions]="{standalone: true}"
           placeholder="Enter username">
    
    <label class="mr-sm-2">Comments</label>
    <textarea id = "comment" class="form-control mb-2 mr-sm-2" rows="1" cols="50" placeholder="write your comments here" required [(ngModel)]="feebackToSave.comment" [ngModelOptions]="{standalone: true}"></textarea>
    <button type="button" class="btn btn-info" (click)="saveFeedback()" [disabled]="!formIsValid()"> submit </button>
    </form>
</div>
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Comment</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fb of feedbacks">
            <td>{{ fb.user.name }}</td>
            <td>{{ fb.comment }} </td>
            <td><i class="fa fa-thumbs-up" [routerLink]="" (click)="addLike(fb)" aria-hidden="true">({{ fb.likes }})</i> |
               <i class="fa fa-thumbs-down"  [routerLink]="" (click)="addUnLike(fb)" aria-hidden="true">({{ fb.unLikes }})</i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>