
 <div class="info">
    <form id="feedbackForm" action="">
    <label for="example">Enter name </label>
    <input id="example" type="text" required  [(ngModel)]="feebackToSave.user.name" size="20" [ngModelOptions]="{standalone: true}">
    
    <label>Comments</label>
    <textarea id = "comment" rows="3" cols="50" placeholder="write your comments here" required [(ngModel)]="feebackToSave.comment" [ngModelOptions]="{standalone: true}"></textarea>
    <button type="button" class="btn btn-info" (click)="saveFeedback()"> submit </button>
    </form>
</div>
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Comment</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fb of feedbacks">
            <td>{{ fb.user.name }}</td>
            <td>{{ fb.comment }} </td>
            <td><a [routerLink]="" (click)="addLike(fb)">Like ({{ fb.likes }})</a> | <a [routerLink]="" (click)="removeLike(fb)">UnLike ({{ fb.likes }})</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>